
.container{
  display: flex;
  margin-bottom: 10px;
}
.handle-head{
  background-color: rgb(174, 62, 215);
}
.container-display{
  display: flex;
}
.handle-sidebar{
  border-right: 1px solid black;
  width: 10%;
  background-color: rgb(194, 100, 13);
}
.handle-card{
  margin: 10px;
}
.foot {
  display: block;
}